*{
    margin: 0px;

}div{
    height:50px;
    background-color: red;
}
.container{
    width: 50%;
}
.container2{
    width: 50vw;
    height: 50vh;

}
.main{
    background-color: green;
    height: 20px;
    width: 200px;
}